<h1 class="text-center mt-5">Noticias</h1>
<div class="noticias-container mb-5">
    @for (noticia of listNoticia; track $index) {
    <div class="noticia bg-oscuro p-3">
        <div class="info">
            <h2 class="text-uppercase fw-bold">{{ noticia.titulo }}</h2>
            <p class="fst-italic">{{ noticia.fuente }}</p>
            <p>{{ noticia.subtitulo }}</p>
            <button (click)="irNoticia(noticia.id.toString())" mat-raised-button color="primary">Ver Noticia</button>

        </div>
        <div class="img">
            <img src="{{ noticia.imagen}}" width="200px">
        </div>
    </div>
    }

    <h1 class="text-center mt-5">Clasificación de La Liga</h1>
    <div class="tabla">
        <div class="mat-elevation-z8 mat-table-responsive">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="posicion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Po </th>
                    <td mat-cell *matCellDef="let row"> {{row.posicion}} </td>
                </ng-container>

                <ng-container matColumnDef="equipo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let row"> {{row.equipo}} </td>
                </ng-container>

                <ng-container matColumnDef="partidosJugados">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> PJ </th>
                    <td mat-cell *matCellDef="let row"> {{row.partidosJugados}} </td>
                </ng-container>

                <ng-container matColumnDef="victorias">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> V </th>
                    <td mat-cell *matCellDef="let row"> {{row.victorias}} </td>
                </ng-container>

                <ng-container matColumnDef="empates">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> E </th>
                    <td mat-cell *matCellDef="let row"> {{row.empates}} </td>
                </ng-container>

                <ng-container matColumnDef="derrotas">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> D </th>
                    <td mat-cell *matCellDef="let row"> {{row.derrotas}} </td>
                </ng-container>

                <ng-container matColumnDef="golesAFavor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> GF </th>
                    <td mat-cell *matCellDef="let row"> {{row.golesAFavor}} </td>
                </ng-container>

                <ng-container matColumnDef="golesEnContra">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> GC </th>
                    <td mat-cell *matCellDef="let row"> {{row.golesEnContra}} </td>
                </ng-container>

                <ng-container matColumnDef="diferenciaDeGoles">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DG </th>
                    <td mat-cell *matCellDef="let row"> {{row.diferenciaDeGoles}} </td>
                </ng-container>

                <ng-container matColumnDef="puntos">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Puntos </th>
                    <td mat-cell *matCellDef="let row"> {{row.puntos}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[25, 50, 75, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
    </div>
</div>