/* navbar.component.css */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navbar-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapse.navbar-collapse {
  display: flex;
  justify-content: center;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin: 0 10px; /* Espaciado entre elementos de la navegación */
}

.nav-link {
  text-align: center;
}
